html {
  font-family: 'Roboto', sans-serif;
  /* background-color: black !important; */
}

#app {
  background-color: black !important;
  color: white;
}

.theme--dark.v-toolbar, .theme--dark.v-navigation-drawer {
  /* background-color: #1b1b1d !important; */
  background-color: black !important;
}

#logo .v-avatar img, .v-avatar .v-icon, .v-avatar .v-image{
  background: linear-gradient(297deg, #38af79, #5ad09a);
  border-radius: 50px;
  background-color: white;
}

/* =================
Typography 
================= */

.dp-display-1 {
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: -1.5;
}
.dp-display-2 {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -1.25;
}
.dp-display-3 {
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: -1;
}
.dp-head-1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.4;
  letter-spacing: -1;
}
.dp-head-2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.75;
}
.dp-par {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.1;
}
.dp-sm-cpy {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.1;
}
.dp-short-label {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0;
}
.dp-micro-label {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.1;
}

/* =================
Buttons
================= */

/* Button Sizes */

.dp-btn-size--nano {
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 1.5;
  height: 18px;
}
.dp-btn-size--tiny {
  padding: 0px 12px;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5;
  height: 24px;
}
.dp-btn-size--small {
  padding: 6px 24px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  height: 36px;
}
.dp-btn-size--medium {
  padding: 12px 24px;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.5;
  height: 48px;
}
.dp-btn-size--large {
  padding: 12px 36px;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.4;
  height: 60px;
}
.dp-btn--noheight, .dp-btn--link {
  padding: 0;
  height: auto;
}
.dp-btn-block {
  display: flex;
  flex: 1;
  margin: 6px 0;
  width: 100%;
}

/* Button Styles */

.dp-btn {
  display: block;
  border-radius: 4px;
  position: relative;
  font-weight: 600 !important;
  line-height: 1;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.dp-btn:hover {
  box-shadow: 0px 3px 5px 0px rgba(51, 60, 77, 0.25);
  border: 1px solid transparent;
  transition: all 150ms ease-in-out;
}
.dp-btn:focus {
  box-shadow: 0px 2px 10px 0px rgba(0, 132, 255, 0.6);
  border: 1px solid #1f67f3;
  transition: all 150ms ease-in-out;
}
.dp-btn:active {
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  transition: all 150ms ease-in-out;
}
.dp-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.dp-btn:disabled:hover {
  box-shadow: none;
}
.dp-btn--primary {
  background: linear-gradient(297deg, #38af79, #5ad09a);
  border-radius: 4px;
  overflow: visible;
  color: #ffffff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.dp-btn--primary path {
  stroke: #ffffff;
}
.dp-btn--primary:hover, .dp-btn--primary:active {
  background-image: linear-gradient(130deg, #5ad09a, #38af79);
}
.dp-btn--secondary {
  background-color: #ffffff;
  color: #4d89ff;
  border: 1px solid #e2e9f8;
}
.dp-btn--secondary path {
  stroke: #4d89ff;
}
.dp-btn--secondary:hover {
  background-color: white;
}
.dp-btn--secondary:active {
  background-color: #f7f7f7;
}
.dp-btn__icon:not(:first-child) {
  margin-left: 12px;
}
.dp-btn__icon:not(:last-child) {
  margin-right: 12px;
}

/* =================
Inputs 
================= */

.v-text-field .v-label {
  color: #A3AFC7 !important;
  font-family: 'Fira Sans', sans-serif !important;
  font-size: 12px !important;
}

.dp-input .v-input__slot {
  height: 48px !important;
  min-height: 48px !important;
  border: 2px solid rgba(237, 241, 251, 1) !important;
  border-radius: 4px !important;
}

.dp-form .input-field .v-input--is-disabled .v-input__slot {
  background-color: #E2E9F8 !important;
}

.v-text-field--box .v-label, .v-text-field--full-width .v-label, .v-text-field--outline .v-label {
  top: 14px !important; 
}
.v-text-field--box.v-text-field--single-line input, .v-text-field--full-width.v-text-field--single-line input, .v-text-field--outline.v-text-field--single-line input {
  margin-top: 9px !important;
}

.v-text-field.v-text-field--enclosed .v-input__prepend-outer, .v-text-field.v-text-field--enclosed .v-input__prepend-inner, .v-text-field.v-text-field--enclosed .v-input__append-inner, .v-text-field.v-text-field--enclosed .v-input__append-outer {
  margin-top: 12px !important;
}
