html {
  font-family: 'Roboto', sans-serif;
  /* background-color: black !important; */
}

#app {
  background-color: black !important;
  color: white;
}

.theme--dark.v-toolbar, .theme--dark.v-navigation-drawer {
  /* background-color: #1b1b1d !important; */
  background-color: black !important;
}

#logo .v-avatar img, .v-avatar .v-icon, .v-avatar .v-image{
  color: #42b983 !important;
  border-radius: 50px;
  background-color: white;
}